---
layout: default
---


<div class="heading" id="toc">
  <h2>前端代码质量规范@beth</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#add-1">文件目录</a></li>
      <li><a href="#html-syntax">语法</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-lang">语言</a></li>
      <li><a href="#html-encoding">字符编码</a></li>
      <li><a href="#html-ie-compatibility-mode">IE的兼容模式</a></li>
      <li><a href="#html-style-script">引入CSS和Javascript</a></li>
      <li><a href="#html-attribute-order">属性顺序</a></li>
      <li><a href="#html-reducing-markup">减少标记</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">语法</a></li>
      <li><a href="#css-declaration-order">顺序声明</a></li>
      <li><a href="#css-import">不要使用 @import</a></li>
      <li><a href="#css-media-queries">媒体查询布局</a></li>
      <li><a href="#css-prefixed-properties">前缀属性</a></li>
      <li><a href="#css-single-declarations">单独声明</a></li>
      <li><a href="#css-comments">模块化样式</a></li>
      <li><a href="#css-classes">Class</a></li>
      <li><a href="#css-selectors">Selectors</a></li>
    </ul>
  </div>
</div>

<div class="section" id="golden-rule">
  <div class="col">
    <h2>前言</h2>
    <p>
    统一一个规范，让每一个前端开发人员有有章可循<br/>
    为提高团队协作效率<br/>
    便于后台人员添加功能及前端后期优化维护<br/>
    输出高质量的文档
    </p>
  </div>
  <div class="col">
    <blockquote>
      <p>让代码飞起来，轻飘飘的感觉!<br/>
      符合web标准, 语义化html, 结构表现行为分离, 兼容性优良. 页面性能方面, 代码要求简洁明了有序, 尽可能的减小服务器负载, 保证最快的解析速度</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="add-1">
  <div class="col">
    <h3>语法</h3>
    <p>html, css, js, images文件放到约定的目录中;</p>
  </div>
  <div class="col">
    {% highlight html %}
      {% include html/add-1.html %}
    {% endhighlight %}
  </div>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>语法</h3>
    <ul>
      <li>嵌套元素应缩进两个空格。</li>
      <li>在属性中，总是使用双引号，不使用单引号。</li>
      <li>无论是双标签，还是单标签都需要闭合.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}
      {% include html/syntax.html %}
    {% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>HTML5 doctype</h3>
    <p>强制执行的标准模式，更一致的呈现在每个浏览器，在每一个HTML页的开头写上这个简单的文档类型。</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>语言属性</h3>
    <p>HTML5规范</p>
    <blockquote>
      <p>建议html元素加上的lang属性，表明文档的语言。这有助于语音合成工，翻译工具，以确定什么规则来使用。如果我们的网站以后要国际化，就需要根据不同的语言去加载不同的语言渲染页面</p>
    </blockquote>
    <p>阅读参考 <a href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">语言属性规范</a>.</p>
    <p><a href="http://reference.sitepoint.com/html/lang-codes">语言代码列表</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>IE compatibility mode</h3>
    <p>Internet Explorer支持使用文档的兼容性<code>&lt;meta&gt;</code>标记来指定哪些版本的IE浏览器的页面是否应该呈现为。除非情况另有要求，否则，它是最有用的指示IE使用了最新的支持模式的边缘模式。</p>
    <p>网页头一定要加的代码段（加注版）一行代码解决各种IE兼容问题,IE6,IE7,IE8,IE9,IE10</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>字符编码</h3>
    <p>一般都使用(UTF-8).</p>
    <p>如果css中需要加入中文的话，也一并使用utf-8编码统一全站编码</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>引入CSS and JavaScript</h3>
    <p>不要在页面内写</p>
    <h4>HTML5 规范链接</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>属性顺序</h3>
    <p>HTML属性应该在这个特殊的顺序代码更容易阅读。</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>role</code>, <code>aria-*</code></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>减少标签</h3>
    <p>只要有可能，编写HTML时，为了避免多余的父元素。很多时候，这需要迭代和重构，而且产生更少的HTML。看看下面的例子：</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>


<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>语法</h3>
    <ul>
      <li>使用软标签有两个空格.</li>
      <li>在分组选择器，使各个选择器来一行</li>
      <li>包括声明块的左括号的可读性前一个空格.</li>
      <li>将关闭声明块的大括号在新的一行.</li>
      <li>每个声明后面<code>:</code> 也加一个空格</li>
      <li>结束了分号。最后声明的是可选的，没有它，你的代码更容易出错。</li>
      <li>使用如速记十六进制值，<code>#fff</code>代替<code>#ffffff</code>.</li>
      <li>如果定义的属性值为0时，直接写0即可</li>
    </ul>
    <p></p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>声明的顺序</h3>
    <ol>
      <li>可见不可见</li>
      <li>定位</li>
      <li>盒子模型</li>
      <li>样式</li>
      <li>视觉样式</li>
    </ol>
    <p>定位是第一位的，因为它可以根据文档和替代框模型相关联的样式正常流量中删除元素。盒模型随之而来的，因为它决定了一个组件的尺寸和位置</p>
    <p>阅读参考：<a href="http://twitter.github.com/recess">Recess</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>不要使用 <code>@import</code></h3>
    <p>相比较<code>&lt;link&gt;</code>s, <code>@import</code> ，比较慢</p>
    <ul>
      <li>使用多个<code>&lt;link&gt;</code></li>
      <li>如果是sass的话，就除外了</li>
      <li>Concatenate your CSS files with features provided in Rails, Jekyll, and other environments</li>
    </ul>
    <p>阅读资料, <a href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">read this article by Steve Souders</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>媒体查询</h3>
    <p>响应式布局中的各方面的考虑</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>前缀属性</h3>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>单独声明</h3>
    <p></p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>模块化的样式</h3>
    <p>详细的去介绍你的模块的功能含义，不要只写一个单词去注释你的模块</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>


<div class="section" id="css-classes">
  <div class="col">
    <h3>Class</h3>
    <p>使用小写和减号</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Selectors</h3>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

