<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="w3c"><!--<![endif]-->
<meta charset="utf-8">
<title>智课教育</title>
<link rel="dns-prefetch" href=http://www.zcoder.com.cn>
<link rel="dns-prefetch" href="http://www.smartstudy.com">
<link rel="dns-prefetch" href="http://www.智课教育.xyz">
<link rel="shortcut icon" href="images/logoico.ico"/>
<meta name="keywords" content="智课教育"/>
<meta name="description" content="智课教育"/>